@font-face {
  font-family: Domaine;
  src: url(./domaine.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}
#wrapper {
    position: relative;
  }
#main {
  min-height: 100vh;
  position: relative;
  background-color: #222;
  overflow: hidden;
}
#page1 {
  height: 120vh;
  width: 100vw;
  background-color: #c4bcb3;
  position: relative;
  overflow: hidden;

}

#nav {
  position: fixed;
  top: 0;
  left: 0; 
  z-index: 1100;
  width: 100%;
  height: 11vh;
  width: 100%;
  display: flex;
  padding: 0 30px;
  background-color: #c4bcb3;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #796f6f;
}

#nav img {
  height: 23px;
  width: 30%;
}

#nav h5 {
  font-size: 17px;
  font-weight:100;
  font-family: Domaine;
  width: 30%;
  opacity: 0.8;
}
.hamburger{
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  width:30%;
}
.nav-lines {
  display: flex;
  flex-direction: column;
  gap: 3px;
  cursor: pointer;
  width: 55px;
}

.nav-line {
  width: 35px;
  height: 2px;
  font-weight: 200;
  background-color: rgb(29, 29, 27);
  transition: transform 0.3s ease-in-out;
}

/* Hover effect */
.nav-lines:hover .up {
  transform: translateX(5px);
}

.nav-lines:hover .bottom {
  transform: translateX(-5px);
}

#elems-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#elems {
  height: 430px;
  display: flex;
  width: 250%;
  align-items: center;
  justify-content: space-between;
  padding: 40px 60px;
  padding-top:15vh;
  transition: transform 0.8s ease-in-out;
}
#elem1 {
  width: 30%;
  height: 100%;
  cursor: pointer;
}
#elem2 {
  width: 30%;
  height: 100%;
  padding: 0 20px;
  text-align: center;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
}
#elem3 {
  width: 30%;
  height: 100%;
  cursor: pointer;
}
#elem1 #image-div {
  height: 60%;
  width: 100%;
  overflow: hidden;
  border: 1px solid #222;
}
#elem3 #image-div {
  height: 60%;
  width: 100%;
  overflow: hidden;
  border: 1px solid #222;
}
#image-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.4s;
}
#image-div:hover img {
  scale: 1.2;
}

#elem1 h4 {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Canopee;
}

#elem1 h4 span {
  background-color: #c03f13;
  color: #cfc4c4;
  margin-left: 10px;
  font-weight: 100;
  font-size: 18px;
  padding: 4px;
  border-radius: 5px;
}

#elem1 p {
  font-size: 18px;
  font-family: Domaine;
  letter-spacing: 0.5px;
  font-weight: 100;
  color: #232222;
}

#elem3 h4 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Canopee;
}
#elem3 h4 span {
  background-color: #c03f13;
  color: #cfc4c4;
  margin-left: 10px;
  font-weight: 100;
  font-size: 18px;
  padding: 4px;
  border-radius: 5px;
}

#elem3 p {
  font-size: 18px;
  font-family: Domaine;
  letter-spacing: 0.5px;
  font-weight: 100;
  color: #232222;
}

#elem2 h2 {
  position:relative;
  z-index:2;
  font-family: canopee;
  font-size: 60px;
  font-weight: 500;
}
.container{
  position:relative;
  display: inline-block;
  text-align: center;
}
.ellipse {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: auto;
  opacity: 0; /* Start hidden */
  stroke-miterlimit: 10;
  transition: opacity 0.5s ease-in-out;
}

/* Makes the ellipse visible on hover */
.container:hover .ellipse {
  opacity: 1;
}

/* Fixes the stroke animation */
.head.doodle-hover {
  stroke-dasharray: 1100; /* Total length of the ellipse */
  stroke-dashoffset: 1100; /* Start with ellipse hidden */
  transition: stroke-dashoffset 0.8s ease-in-out;
}

/* Draws the ellipse fully when hovered */
.container:hover .head.doodle-hover {
  stroke-dashoffset: 0;
}

#elem2 h3 {
  font-family: Domaine;
  font-size: 40px;
  color: rgb(34, 30, 30);
  font-weight: 100;
  padding: 10px 0;
  cursor: grabbing;
}
#elem2 h6 {
  font-size: 19px;
  letter-spacing: -0.5px;
  font-weight:100;
  margin: 20px 0;
  cursor: grabbing;
}
#elem2 h6 span{
  font-family:canopee;
  font-weight: 200;
}
#page1 h1 {
  font-size: 530px;
  letter-spacing: -25px;
  font-family: canopee;
  font-weight: 100;
  color: #c4bcb3;
  line-height: 600px;
  text-align: center;
  padding: 10px 10px;
}
#header{
  background-color: #1c1c19;
  width:96%;
  height:59vh;
  display:flex;
  justify-self:center;
  align-items: center;
}

#page2 {
  height: 145vh;
  width: 100%;
  background-color: #c4bcb3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}

#page2-left {
  height: 100%;
  width: 35%;
  padding-right: 50px;
  border-right: 1px solid #3e3e3e;
}
#page2-left h2 {
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.3); /* Lighter line color */
  text-decoration-thickness: 0.7px;
  text-underline-offset: -18px;
  font-size: 6.8vw;
  font-family: canopee;
  line-height: 120px;
  text-align: center;
  font-weight: 100;
}

#page2-left h2 span {
  font-size: 170px;
  font-weight: 600;
}
#page2-left img {
  height: 40%;
  width: 100%;
  object-fit: cover;
  border:1px solid black;
}
#page2-left p span{
  font-size: 12vh;
  background-color: #1c1c19;
  color:#c4bcb3;
  padding:0.5vw;
  font-family:canopee;
  float: left;
  margin-right:10px;
}
#page2-left p {
  margin-top: 4vh;
  font-size: 2.6vw;
  font-weight: 100;
  font-family: domaine;
}
#page2-right {
  height: 100%;
  width: 80%;
  padding: 0 60px;
}
#page2-right img {
  height: 50%;
  width: 105%;
  object-fit: cover;
  border: 1px solid black;
}
#page2-right h1 {
  text-decoration: line-through;
  text-decoration-color: rgba(0, 0, 0, 0.3); /* Lighter line color */
  text-decoration-thickness: 0.5px;
  font-family: canopee;
  font-size: 7.2vw;
  letter-spacing: -1px;
  font-weight: 100;
}
#page2-right h1 span{
  text-decoration: underline;
  text-decoration-color: rgba(14, 14, 14, 0.6);
  text-decoration-thickness: 1px;
  text-underline-offset:4px;
}
#page3 {
  padding: 25px;
  position: relative;
  height: 60vh;
  background-color: #c4bcb3;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
#page3 h1 {
  font-size: 28.5vw;
  letter-spacing: -15px;
  font-family: canopee;
  font-weight: 100;
  color: #c4bcb3;
  line-height: 600px;
  text-align: center;
  padding: 10px 10px;
}
#head{
  background-color: #1c1c19;
  width:75%;
  height:48vh;
  display:flex;
  justify-self:center;
  align-items: center;
}
#page3 img {
  height: 380px;
  position: absolute;
  top: 9.5%;
  right: 3%;
}
#page4 {
  height: 125vh;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  background-color: #c4bcb3;
}
#page4-left {
  width: 65%;
  height: 100%;
  padding: 10px 30px;
  border-right: 1px solid #222;
}
#page4-left img{
  height:60%;
  width:100%;
}
#page4-left-top{
  display:flex;

}
#first-div{
  width: 45%;
  height: 100%;
  text-align: left;
  border-right: 1px solid #222;
}
#first-div h2 {
  position:relative;
  font-family: canopee;
  font-size: 3.5vw;
  font-weight: 700;
}
#first-div h3 {
  font-family: Domaine;
  font-size: 40px;
  color: rgb(34, 30, 30);
  font-weight: 100;
  padding: 10px 0;
}
#first-div h6 {
  font-size: 19px;
  letter-spacing: -0.5px;
  font-weight:100;
  margin: 20px 0;
}
#first-div h6 span{
  font-family:canopee;
  font-weight: 200;
}

#second-div{
  width:60%;
  text-align: left;
  padding:0 40px;
}
#second-div h4 {
  font-size: 2vw;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Canopee;
}
#second-div p {
  font-size: 1.3vw;
  font-family: Domaine;
  letter-spacing: 0.5px;
  font-weight: 100;
  color: #232222;
}
#second-div #img-div{
  height: 55%;
  width: 100%;
  overflow: hidden;
  border: 1px solid #222;
}
#img-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.4s;
}
#img-div:hover img {
  scale: 1.2;
}


#page4-bottom{
  margin-top: 30px;
}
#page4-right {
  width: 35%;
  height: 100%;
  padding-left:  40px;
}
#page4-right h2 {
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.3); /* Lighter line color */
  text-decoration-thickness: 0.7px;
  text-underline-offset: -18px;
  font-size: 5.6vw;
  font-family: canopee;
  line-height: 120px;
  text-align: center;
  font-weight: 100;
}
#page4-right h2 span {
  font-size: 12vw;
  font-weight: 600;
}
#page4-right p span{
  font-size: 12vh;
  background-color: #1c1c19;
  color:#c4bcb3;
  padding:0.5vw;
  font-family:canopee;
  float: left;
  margin-right:10px;
}
#page4-right p {
  margin-top: 4vh;
  font-size: 2.4vw;
  color: #2f2f2f;
  font-weight: 100;
  font-family: domaine;
}
#page4-right #circle {
  margin-top: 30px;
  height: 180px;
  background-color: #cac1b6;
  border: 1px solid black;
  border-radius: 50%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: hidden;
}
#circle h1 {
  width: 100%;
  height: 100%;
  font-size: 65px;
  font-weight: 100;
  font-family: canopee;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(45%);
  transition: all ease 0.6s;
}
#circle img {
  height: 60px;
  transform: translateX(-260%);
  transition: all ease 0.6s;
}
#circle:hover img {
  transform: translateX(-51%);
}
#circle:hover h1 {
  transform: translateX(260%);
}

#banner{
  width:100%;
  background-color: #c4bcb3;
  padding: 20px 30px;
}
#banner-wrap{
  padding: 20px;
  border-top: 1px solid #2f2f2f;
  border-bottom: 1px solid #2f2f2f;
  display: flex;
  justify-content: space-between;
  gap:1rem;
}
.box{
  display:flex;
  align-items: center;
}
.box h3{
  font-family: canopee;
  font-size: 5vw;
  font-weight: 100;
}
.box p{
  font-family: Domaine;
  font-size: 2vw;
  text-align: center;
  font-weight: 100;
}
.col{
  margin-right:10px;
}
.box span{
  font-size: 20vh;
}

#work{
  background-color: #c4bcb3;
}

#page5 {
  height: 160px;
  width: 100%;
  background-color: #c4bcb3;
  padding: 20px 30px;
}
#wrapped::-webkit-scrollbar {
  display: none;
}
#page5 #wrapped{
  padding: 20px;
  border-top: 1px solid #2f2f2f;
  border-bottom: 1px solid #2f2f2f;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;

}
#page5 h1 {
  font-size: 70px;
  font-family: domain;
  font-weight: 100;
  display: inline-block;
  margin-right: 20px;
  animation: scroll 8s linear infinite;
}
#page5 span {
  font-family: canopee;
  background-color: #2f2f2f;
  color: #c4bcb3;
  padding: 0 12px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 24px));
  }
}

#page5:hover h1 {
  animation-play-state: paused;
}

footer{
  background-color: #c4bcb3;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 30px;

}

footer #left{
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap:1rem;
}

footer #left h5{
  font-family: canopee;
  font-size: 1.6vw;
  font-weight: 100;
}
footer #left img{
  height:30px;

}
footer #left p{
  font-size: 1.5vw;
  letter-spacing: -1px;
  cursor: pointer;
}

footer #right{
  display:flex;
  justify-content: space-between;
  align-items: center;
  font-family: canopee;
}

footer #right ul{
  display:flex;
  gap: 25px;
  font-size: 1.3rem;
  cursor: pointer;
}

footer #right ul li:first-child{
  list-style: none;
}

#foot-bottom{
  height:1vh;
  background-color:#c4bcb3;

}

#page6{
  background-color:#c4bcb3;
  display: flex;
  height: 105vh;
  
}
#page6 #left{
 width: 50%;
 margin: 0 2vw;
 /* margin-top:6vh; */
 display: flex;
 flex-direction: column;
 gap:2rem;
}
#left-up{
  display:flex;
  align-items: center;
  gap:2rem;
}
#left-up h1{
  
}

#left-bottom{
  margin-top: -12vh;
}
#page6 #left img{
  height:40vh;
  object-fit: cover;
  width:14vw;
  border: 1px solid black;
}
#page6 #left h1{
  text-transform: capitalize;
  font-family: canopee;
  font-size: 29vw;
}
#page6 #right{
  width: 50%;
  margin-top:7.5vh;
}
#page6 #right img{
  height:89.5%;
  width:97%;
  object-fit: cover;
  border: 1px solid black;
}
#page7{
  display:flex;
  height:40vh;
  background-color: #c4bcb3;
  margin-top: -5vh;
}
#inner{
  margin: 2vw 2vw;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
#inner img{
  height:120%;
  border:1px solid black;
  object-fit: cover;
}
#inner h1{
  font-family: canopee;
  font-size: 25vw;
}

#page8 {
  padding: 20px;
  position: relative;
  height: 60vh;
  background-color: #c4bcb3;
  display:flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
#page8 h1 {
  font-size: 26vw;
  letter-spacing: -15px;
  font-family: canopee;
  font-weight: 100;
  color: #c4bcb3;
  line-height: 600px;
  text-align: center;
  padding: 0px 20px;
}
#page8 #head{
  background-color: #1c1c19;
  width:66%;
  height:48vh;
  display:flex;
  justify-self:center;
}
#page8 #side-div{
 display: flex;
 flex-direction: column;
 margin:2vw;
}
#page8 #side-div span{
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}
#page8 #side-div p{
 font-size: 2.3vw;
 font-family: Domaine;
}
#page8 #side-div h2{
 font-size: 7vw;
 font-family: canopee;
 text-align: left;
}